<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>TV Chat</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">TV Chat</a>
        <ul class="nav navbar-nav navbar-right">
          {{#if user}}
            <li><a>{{ user.username }}</a></li>
            <li><a href="/shows">Shows</a></li>
            <li><a href="/logout">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {{{body}}}
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="/js/watched.js"></script>
  <script src="/js/socket.js"></script>
  <script src="/js/add.js"></script>
</body>
</html>