<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>TV Chat</title>
</head>
<body>
  <header>
    <div class="logo">TV Chat</div>
    <nav>
      <ul>
        {{#if user}}
          <li><a href="/shows">Shows</a></li>
          <li>Logout</li>
        {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>
        {{/if}}
      </ul>
    </nav>
    <div> {{ user.username }} </div>
  </header>
  <main>
    {{{body}}}
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>