body {
  background: #000;
  color: #fff;
}

ul {
  list-style: none;
}

main {
  text-align: center;
}

.shows {
  text-align: center;
  padding: 0;
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
}

.navbar {
  border-radius: 0;
}

a.show {
  font-size: 2.5rem;
  color: #fff;
}